body {
    background-color: 0x55ee55;
}

p {
  color: green;
  font-size: 18px;
  font-family: sans-serif;
}

ol {
  font-family: serif;
  font-size: 16px;
}

ol p {
  font-family: serif;
  font-size: 14px;
}

h2 {
  color: red;
  font-family: fantasy;
}
